.watercolor-cont {
  width: 564px;
  height: 564px;
}

img {
  opacity: 0.5;
}
.outline {
  position: absolute;
}
.outline-1 {
  top: 145px;
  left: 145px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 4px solid #000;
  border-top: 2px solid #000;
  width: 20px;
  height: 20px;
  transform: rotate(320deg);
}

.outline-2 {
  top: 165px;
  left: 155px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(350deg);
}

.outline-3 {
  top: 185px;
  left: 185px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 55px;
  transform: rotate(320deg);
}

.outline-4 {
  top: 215px;
  left: 230px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 5px;
  height: 45px;
  transform: rotate(280deg);
}
.outline-5 {
  top: 215px;
  left: 260px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 5px;
  height: 35px;
  transform: rotate(250deg);
}

.outline-6 {
  top: 140px;
  left: 190px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 45px;
  transform: rotate(340deg);
}

.outline-7 {
  top: 120px;
  left: 180px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  width: 5px;
  height: 25px;
  transform: rotate(355deg);
}

.outline-8 {
  top: 170px;
  left: 210px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 8px solid #000;
  border-top: 2px solid #000;
  width: 20px;
  height: 35px;
  transform: rotate(290deg);
}

.outline-9 {
  top: 190px;
  left: 245px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 8px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(280deg);
}

.outline-10 {
  top: 145px;
  left: 280px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 4px solid #000;
  width: 5px;
  height: 20px;
  transform: rotate(350deg);
}

.outline-11 {
  top: 165px;
  left: 275px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 20px;
  transform: rotate(340deg);
}

.outline-12 {
  top: 185px;
  left: 277px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 4px solid #000;
  width: 5px;
  height: 40px;
}

.outline-13 {
  top: 70px;
  left: 270px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 30px;
}

.outline-14 {
  top: 130px;
  left: 290px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(350deg);
}

.outline-15 {
  top: 160px;
  left: 295px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  background: #000;
  width: 10px;
  height: 45px;
  transform: rotate(15deg);
}

.outline-16 {
  top: 200px;
  left: 285px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 6px solid #000;
  width: 5px;
  height: 30px;
}

.outline-17 {
  top: 177px;
  left: 285px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 3px solid #000;
  border-top: 4px solid #000;
  width: 5px;
  height: 40px;
  transform: rotate(285deg);
}

.outline-18 {
  top: 105px;
  left: 310px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 4px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 25px;
  transform: rotate(300deg);
}
.outline-19 {
  top: 127px;
  left: 315px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 6px solid #000;
  width: 10px;
  height: 40px;
  transform: rotate(355deg);
}

.outline-20 {
  top: 93px;
  left: 298px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 8px;
  height: 20px;
  transform: rotate(126deg);
}

.outline-21 {
  top: 210px;
  left: 298px;
  border-radius: 39% 61% 80% 20% / 82% 48% 52% 18%;
  border-left: 3px solid #000;
  border-top: 18px solid #000;
  width: 20px;
  height: 20px;
  transform: rotate(63deg);
}

.outline-22 {
  top: 237px;
  left: 297px;
  border-radius: 39% 61% 80% 20% / 82% 48% 52% 18%;
  border-left: 3px solid #000;
  border-top: 8px solid #000;
  width: 40px;
  height: 5px;
  transform: rotate(98deg);
}
