.watercolor-flower-cont {
  width: 564px;
  height: 564px;
}

img {
  opacity: 0.2;
  /* display: none; */
}
.outline {
  position: absolute;
}
.outline-1 {
  top: 145px;
  left: 145px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 4px solid #000;
  border-top: 1px solid #000;
  width: 20px;
  height: 20px;
  transform: rotate(320deg);
}

.outline-2 {
  top: 165px;
  left: 155px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(350deg);
}

.outline-3 {
  top: 185px;
  left: 185px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 55px;
  transform: rotate(320deg);
}

.outline-4 {
  top: 215px;
  left: 230px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 5px;
  height: 45px;
  transform: rotate(280deg);
}
.outline-5 {
  top: 215px;
  left: 260px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 5px;
  height: 35px;
  transform: rotate(250deg);
}

.outline-6 {
  top: 140px;
  left: 190px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 45px;
  transform: rotate(340deg);
}

.outline-7 {
  top: 120px;
  left: 180px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  width: 5px;
  height: 25px;
  transform: rotate(355deg);
}

.outline-8 {
  top: 170px;
  left: 210px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 8px solid #000;
  border-top: 2px solid #000;
  width: 20px;
  height: 35px;
  transform: rotate(290deg);
}

.outline-9 {
  top: 190px;
  left: 245px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 8px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(280deg);
}

.outline-10 {
  top: 145px;
  left: 280px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 4px solid #000;
  width: 5px;
  height: 20px;
  transform: rotate(350deg);
}

.outline-11 {
  top: 165px;
  left: 275px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 20px;
  transform: rotate(340deg);
}

.outline-12 {
  top: 185px;
  left: 277px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 4px solid #000;
  width: 5px;
  height: 40px;
}

.outline-13 {
  top: 70px;
  left: 270px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 30px;
}

.outline-14 {
  top: 130px;
  left: 290px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(350deg);
}

.outline-15 {
  top: 160px;
  left: 295px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  background: #000;
  width: 10px;
  height: 45px;
  transform: rotate(15deg);
}

.outline-16 {
  top: 200px;
  left: 285px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 6px solid #000;
  width: 5px;
  height: 30px;
}

.outline-17 {
  top: 177px;
  left: 285px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 3px solid #000;
  border-top: 4px solid #000;
  width: 5px;
  height: 40px;
  transform: rotate(285deg);
}

.outline-18 {
  top: 105px;
  left: 310px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 4px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 25px;
  transform: rotate(300deg);
}
.outline-19 {
  top: 127px;
  left: 315px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 6px solid #000;
  width: 10px;
  height: 40px;
  transform: rotate(355deg);
}

.outline-20 {
  top: 93px;
  left: 298px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 8px;
  height: 20px;
  transform: rotate(126deg);
}

.outline-21 {
  top: 218px;
  left: 290px;
  border-radius: 39% 61% 80% 20% / 82% 48% 20% 18%;
  border-left: 3px solid #000;
  border-top: 10px solid #000;
  width: 35px;
  height: 25px;
  transform: rotate(63deg);
}
.outline-22 {
  top: 262px;
  left: 293px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 55px;
  height: 10px;
  transform: rotate(279deg);
}
.outline-23 {
  top: 230px;
  left: 306px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 5px solid #000;
  width: 30px;
  height: 10px;
  transform: rotate(74deg);
}

.outline-24 {
  top: 295px;
  left: 290px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 40px;
  height: 8px;
  transform: rotate(90deg);
}

.outline-25 {
  top: 325px;
  left: 268px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 4px solid #000;
  width: 45px;
  height: 15px;
  transform: rotate(341deg);
}

.outline-26 {
  top: 345px;
  left: 269px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 6px;
  height: 17px;
  transform: rotate(11deg);
}

.outline-27 {
  top: 365px;
  left: 220px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 4px solid #000;
  width: 55px;
  height: 15px;
  transform: rotate(163deg);
}

.outline-28 {
  top: 280px;
  left: 165px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 8px solid #000;
  width: 5px;
  height: 45px;
  transform: rotate(352deg);
}
.outline-29 {
  top: 275px;
  left: 165px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 10px solid #000;
  width: 25px;
  height: 5px;
  transform: rotate(22deg);
}

.outline-30 {
  top: 282px;
  left: 180px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 4px solid #000;
  width: 5px;
  height: 25px;
  transform: rotate(334deg);
}

.outline-31 {
  top: 363px;
  left: 165px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 10px;
  transform: rotate(73deg);
}

.outline-32 {
  top: 328px;
  left: 173px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 8px;
  height: 35px;
  transform: rotate(27deg);
}
.outline-33 {
  top: 297px;
  left: 183px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  width: 8px;
  height: 30px;
  transform: rotate(202deg);
}
.outline-34 {
  top: 300px;
  left: 192px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 15px;
  height: 30px;
  transform: rotate(25deg);
}
.outline-35 {
  top: 295px;
  left: 198px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 15px;
  height: 20px;
  transform: rotate(52deg);
}

.outline-36 {
  top: 317px;
  left: 197px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 3px solid #000;
  width: 10px;
  height: 5px;
  transform: rotate(178deg);
}

.outline-37 {
  top: 314px;
  left: 205px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 5px solid #000;
  width: 20px;
  height: 5px;
  transform: rotate(198deg);
}

.outline-38 {
  top: 323px;
  left: 219px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-top: 2px solid #000;
  width: 20px;
  height: 5px;
  transform: rotate(246deg);
}

.outline-39 {
  top: 345px;
  left: 217px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-top: 2px solid #000;
  width: 28px;
  height: 5px;
  transform: rotate(94deg);
}
.outline-40 {
  top: 296px;
  left: 210px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 18px;
  height: 10px;
  transform: rotate(3deg);
}
.outline-41 {
  top: 301px;
  left: 225px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 30px;
  height: 10px;
  transform: rotate(343deg);
}
.outline-42 {
  top: 301px;
  left: 250px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 3px solid #000;
  width: 5px;
  height: 18px;
  transform: rotate(250deg);
}
.outline-43 {
  top: 315px;
  left: 241px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 2px solid #000;
  height: 25px;
  width: 10px;
  transform: rotate(190deg);
}
.outline-44 {
  top: 330px;
  left: 205px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 25px;
  height: 15px;
  transform: rotate(193deg);
}

.outline-45 {
  top: 329px;
  left: 221px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 20px;
  height: 15px;
  transform: rotate(130deg);
}

.outline-46 {
  top: 341px;
  left: 173px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 38px;
  height: 18px;
  transform: rotate(286deg);
}

.outline-47 {
  top: 350px;
  left: 183px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 20px;
  height: 10px;
  transform: rotate(49deg);
}

.outline-48 {
  top: 355px;
  left: 195px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 3px solid #000;
  border-bottom: 2px solid #000;
  border-left: 3px solid #000;
  width: 17px;
  height: 7px;
  transform: rotate(303deg);
}

.outline-49 {
  top: 345px;
  left: 221px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 15px;
  transform: rotate(353deg);
}
.outline-50 {
  top: 359px;
  left: 217px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  width: 5px;
  height: 7px;
  transform: rotate(178deg);
}
.outline-51 {
  top: 365px;
  left: 215px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 6px solid #000;
  width: 10px;
  height: 15px;
  transform: rotate(359deg);
}

.outline-52 {
  top: 388px;
  left: 218px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 2px solid #000;
  width: 5px;
  height: 10px;
  transform: rotate(92deg);
}

.outline-53 {
  top: 389px;
  left: 213px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 1px solid #000;
  width: 1px;
  height: 18px;
  transform: rotate(223deg);
}
.outline-54 {
  top: 400px;
  left: 197px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 3px solid #000;
  width: 17px;
  height: 7px;
  transform: rotate(300deg);
}

.outline-55 {
  top: 400px;
  left: 197px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 4px;
  height: 40px;
  transform: rotate(173deg);
}

.outline-56 {
  top: 437px;
  left: 187px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 1px solid #000;
  width: 10px;
  height: 10px;
  transform: rotate(108deg);
}

.outline-57 {
  top: 437px;
  left: 193px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  width: 2px;
  height: 13px;
  transform: rotate(219deg);
}

.outline-61 {
  top: 372px;
  left: 218px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-bottom: 2px solid #000;
  width: 30px;
  height: 5px;
  transform: rotate(266deg);
}

.outline-62 {
  top: 392px;
  left: 228px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 12px;
  height: 5px;
  transform: rotate(278deg);
}

.outline-63 {
  top: 436px;
  left: 205px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 80px;
  height: 5px;
  transform: rotate(257deg);
}
.outline-64 {
  top: 477px;
  left: 252px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 10px;
  height: 5px;
  transform: rotate(218deg);
}
.outline-65 {
  top: 488px;
  left: 252px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 20px;
  height: 5px;
  transform: rotate(224deg);
}
.outline-66 {
  top: 290px;
  left: 376px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 55px;
  height: 31px;
  transform: rotate(8deg);
}
.outline-67 {
  top: 319px;
  left: 315px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 55px;
  height: 12px;
  transform: rotate(292deg);
}

.outline-68 {
  top: 318px;
  left: 333px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 34px;
  height: 12px;
  transform: rotate(330deg);
}
.outline-69 {
  top: 303px;
  left: 350px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  width: 16px;
  height: 12px;
  transform: rotate(80deg);
}
.outline-70 {
  top: 331px;
  left: 335px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 12px;
  height: 25px;
  transform: rotate(249deg);
}
.outline-71 {
  top: 344px;
  left: 330px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 40px;
  height: 12px;
  transform: rotate(322deg);
}

.outline-72 {
  top: 336px;
  left: 364px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 20px;
  height: 4px;
  transform: rotate(356deg);
}
.outline-73 {
  top: 364px;
  left: 320px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 15px;
  height: 4px;
  transform: rotate(314deg);
}

.outline-74 {
  top: 361px;
  left: 325px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 5px solid #000;
  width: 5px;
  height: 22px;
  transform: rotate(291deg);
}
.outline-75 {
  top: 376px;
  left: 335px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 15px;
  height: 4px;
  transform: rotate(31deg);
}
.outline-76 {
  top: 390px;
  left: 358px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 10px;
  height: 7px;
  transform: rotate(31deg);
}
.outline-77 {
  top: 392px;
  left: 371px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 24px;
  transform: rotate(322deg);
}
.outline-78 {
  top: 387px;
  left: 381px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 53px;
  height: 20px;
  transform: rotate(142deg);
}

.outline-79 {
  top: 387px;
  left: 339px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 1px solid #000;
  width: 19px;
  height: 5px;
  transform: rotate(69deg);
}

.outline-80 {
  top: 386px;
  left: 340px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-bottom: 1px solid #000;
  width: 22px;
  height: 15px;
  transform: rotate(221deg);
}

.outline-81 {
  top: 348px;
  left: 315px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 17px;
  height: 7px;
  transform: rotate(120deg);
}

.outline-82 {
  top: 360px;
  left: 297px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 27px;
  height: 6px;
  transform: rotate(319deg);
}

.outline-83 {
  top: 375px;
  left: 282px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 21px;
  height: 6px;
  transform: rotate(108deg);
}

.outline-84 {
  top: 389px;
  left: 280px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 11px;
  height: 7px;
  transform: rotate(298deg);
}
.outline-85 {
  top: 390px;
  left: 287px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 33px;
  height: 11px;
  transform: rotate(356deg);
}

.outline-86 {
  top: 394px;
  left: 317px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 23px;
  height: 6px;
  transform: rotate(199deg);
}

.outline-87 {
  top: 398px;
  left: 338px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 2px solid #000;
  width: 7px;
  height: 29px;
  transform: rotate(323deg);
}

.outline-91 {
  top: 402px;
  left: 260px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 29px;
  height: 3px;
  transform: rotate(130deg);
}
.outline-92 {
  top: 420px;
  left: 251px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  border-left: 2px solid #000;
  width: 28px;
  height: 12px;
  transform: rotate(287deg);
}

.outline-93 {
  top: 427px;
  left: 255px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  background: #000;
  width: 17px;
  height: 13px;
  transform: rotate(287deg);
}

.outline-94 {
  top: 437px;
  left: 254px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 11px;
  height: 7px;
  transform: rotate(186deg);
}

.outline-96 {
  top: 437px;
  left: 269px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 2px solid #000;
  width: 7px;
  height: 29px;
  transform: rotate(125deg);
}

.outline-97 {
  top: 484px;
  left: 245px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 5px solid #000;
  width: 5px;
  height: 4px;
  transform: rotate(200deg);
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 59px;
  height: 6px;
  transform: rotate(293deg);
}
.outline-98 {
  top: 456px;
  left: 275px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 10px;
  height: 7px;
  transform: rotate(85deg);
}

.outline-99 {
  top: 458px;
  left: 323px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  border-bottom: 1px solid #000;
  width: 12px;
  height: 5px;
  transform: rotate(226deg);
}

.outline-100 {
  top: 464px;
  left: 328px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 1px solid #000;
  width: 15px;
  height: 5px;
  transform: rotate(208deg);
}

.outline-101 {
  top: 470px;
  left: 303px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 1px solid #000;
  width: 28px;
  height: 5px;
  transform: rotate(135deg);
}

.outline-102 {
  top: 480px;
  left: 303px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  border-bottom: 1px solid #000;
  width: 3px;
  height: 5px;
  transform: rotate(96deg);
}
.outline-103 {
  top: 491px;
  left: 283px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 26px;
  height: 5px;
  transform: rotate(314deg);
}

.outline-104 {
  top: 494px;
  left: 276px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 10px;
  height: 28px;
  transform: rotate(173deg);
}
.outline-105 {
  top: 542px;
  left: 262px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 61px;
  height: 10px;
  transform: rotate(244deg);
}

.outline-106 {
  top: 493.5px;
  left: 273px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 3px solid #000;
  border-top: 1px solid #000;
  width: 4px;
  height: 24px;
  transform: rotate(116deg);
}

.outline-107 {
  top: 513px;
  left: 246px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 26px;
  height: 5px;
  transform: rotate(284deg);
}

.outline-108 {
  top: 531px;
  left: 233px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 45px;
  height: 1px;
  transform: rotate(261deg);
}
.outline-109 {
  top: 557px;
  left: 253px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 36px;
  height: 9px;
  transform: rotate(23deg);
}

.outline-spot-1 {
  top: 397px;
  left: 185px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 7px;
  height: 10px;
  transform: rotate(9deg);
}

.outline-spot-2 {
  top: 413px;
  left: 180px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 4px;
  transform: rotate(178deg);
}
.outline-spot-3 {
  top: 425px;
  left: 180px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(274deg);
}

.outline-spot-4 {
  top: 381px;
  left: 325px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 5px;
  height: 4px;
  transform: rotate(223deg);
}

.outline-spot-5 {
  top: 381px;
  left: 336px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 3px;
  transform: rotate(187deg);
}

.outline-spot-6 {
  top: 389px;
  left: 337px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}
.outline-spot-7 {
  top: 193px;
  left: 242px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 5px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-8 {
  top: 205px;
  left: 244px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 3px;
  transform: rotate(330deg);
}

.outline-spot-9 {
  top: 198px;
  left: 249px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}

.outline-spot-10 {
  top: 210px;
  left: 300px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}

.outline-spot-11 {
  top: 215px;
  left: 296px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(161deg);
}

.outline-spot-12 {
  top: 332px;
  left: 338px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-13 {
  top: 330px;
  left: 350px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 3px;
  transform: rotate(233deg);
}

.outline-spot-14 {
  top: 420px;
  left: 268px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}
.outline-spot-15 {
  top: 408px;
  left: 263px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 2px;
  height: 3px;
  transform: rotate(46deg);
}
.outline-spot-16 {
  top: 477px;
  left: 257px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-17 {
  top: 492px;
  left: 303px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-18 {
  top: 492px;
  left: 318px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 3px;
  transform: rotate(211deg);
}

.outline-spot-19 {
  top: 496px;
  left: 335px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}
.outline-spot-20 {
  top: 504px;
  left: 317px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 2px;
  height: 3px;
  transform: rotate(261deg);
}
.outline-spot-21 {
  top: 511px;
  left: 330px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-22 {
  top: 516px;
  left: 237px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 2px;
  transform: rotate(115deg);
}

.outline-spot-23 {
  top: 512px;
  left: 246px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 2px;
  height: 2px;
  transform: rotate(106deg);
}

.outline-spot-24 {
  top: 516px;
  left: 243px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 2px;
  height: 3px;
  transform: rotate(137deg);
}
.outline-spot-25 {
  top: 517px;
  left: 248px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 4px;
  transform: rotate(150deg);
}

.watercolor {
  position: absolute;
}
#test {
  width: 400px;
  height: 275px;
  background: gold;
  border-radius: 50%;
  box-shadow: 100px 100px 90px 90px rgb(4 238 35);
  filter: blur(3px);
}

.watercolor-1 {
  top: 495px;
  left: 233px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 12px;
  height: 30px;
  transform: rotate(315deg);
  background: #0f679e;
  box-shadow: -2px -14px 6px 4px #12a9c0;
  filter: blur(3px);
}

.watercolor-2 {
  top: 500px;
  left: 293px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 11px;
  height: 16px;
  transform: rotate(163deg);
  background: #052558;
  box-shadow: -2px -14px 12px 9px #125e9e;
  filter: blur(2px);
}

.watercolor-3 {
  top: 522px;
  left: 299px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 19px;
  height: 16px;
  transform: rotate(163deg);
  background: #125e9e;
  box-shadow: -2px -14px 12px 5px #12a9c0;
  filter: blur(4px);
}

.watercolor-4 {
  top: 496px;
  left: 298px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 16px;
  height: 27px;
  transform: rotate(147deg);
  background: #052558;
  box-shadow: -2px -14px 12px 7px #3087cf;
  filter: blur(2px);
}

.watercolor-5 {
  top: 520px;
  left: 317px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 24px;
  height: 24px;
  transform: rotate(140deg);
  background: #3087cf;
  box-shadow: -2px -14px 12px 5px #33addc;
  filter: blur(2.5px);
}

.watercolor-6 {
  top: 489px;
  left: 309px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 6px;
  height: 39px;
  transform: rotate(112deg);
  background: #0a3e91;
  box-shadow: 2px -14px 12px 8px #3087cf;
  filter: blur(2px);
}

.watercolor-7 {
  top: 498px;
  left: 310px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 13px;
  height: 22px;
  transform: rotate(117deg);
  background: #0e418b;
  box-shadow: 5px -19px 11px 11px #33addc;
  filter: blur(4px);
}

.watercolor-8 {
  top: 478px;
  left: 313px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 10px;
  height: 48px;
  transform: rotate(105deg);
  background: #3087cf;
  box-shadow: -1px -16px 7px 8px #33addc;
  filter: blur(3px);
}
