.watercolor-flower-cont {
  width: 564px;
  height: 564px;
}

img {
  opacity: 0.2;
  display: none;
}
/* .watercolor-cont > div {
  opacity: 0.95;filter: blur(0.5px);
} */

.outline {
  position: absolute;
}
.outline-1 {
  top: 145px;
  left: 145px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 4px solid #000;
  border-top: 1px solid #000;
  width: 20px;
  height: 20px;
  transform: rotate(320deg);
}

.outline-2 {
  top: 165px;
  left: 155px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(350deg);
}

.outline-3 {
  top: 185px;
  left: 185px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 55px;
  transform: rotate(320deg);
}

.outline-4 {
  top: 215px;
  left: 230px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 5px;
  height: 45px;
  transform: rotate(280deg);
}
.outline-5 {
  top: 215px;
  left: 260px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 5px;
  height: 35px;
  transform: rotate(250deg);
}

.outline-6 {
  top: 140px;
  left: 190px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 45px;
  transform: rotate(340deg);
}

.outline-7 {
  top: 120px;
  left: 180px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  width: 5px;
  height: 25px;
  transform: rotate(355deg);
}

.outline-8 {
  top: 170px;
  left: 210px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 8px solid #000;
  border-top: 2px solid #000;
  width: 20px;
  height: 35px;
  transform: rotate(290deg);
}

.outline-9 {
  top: 190px;
  left: 245px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 8px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(280deg);
}

.outline-10 {
  top: 145px;
  left: 280px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 4px solid #000;
  width: 5px;
  height: 20px;
  transform: rotate(350deg);
}

.outline-11 {
  top: 165px;
  left: 275px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 20px;
  transform: rotate(340deg);
}

.outline-12 {
  top: 185px;
  left: 277px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 4px solid #000;
  width: 5px;
  height: 40px;
}

.outline-13 {
  top: 70px;
  left: 270px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 30px;
}

.outline-14 {
  top: 130px;
  left: 290px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 35px;
  transform: rotate(350deg);
}

.outline-15 {
  top: 160px;
  left: 295px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  background: #000;
  width: 10px;
  height: 45px;
  transform: rotate(15deg);
}

.outline-16 {
  top: 200px;
  left: 285px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 6px solid #000;
  width: 5px;
  height: 30px;
}

.outline-17 {
  top: 177px;
  left: 285px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 3px solid #000;
  border-top: 4px solid #000;
  width: 5px;
  height: 40px;
  transform: rotate(285deg);
}

.outline-18 {
  top: 105px;
  left: 310px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 4px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 25px;
  transform: rotate(300deg);
}
.outline-19 {
  top: 127px;
  left: 315px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 6px solid #000;
  width: 10px;
  height: 40px;
  transform: rotate(355deg);
}

.outline-20 {
  top: 93px;
  left: 298px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 8px;
  height: 20px;
  transform: rotate(126deg);
}

.outline-21 {
  top: 218px;
  left: 290px;
  border-radius: 39% 61% 80% 20% / 82% 48% 20% 18%;
  border-left: 3px solid #000;
  border-top: 10px solid #000;
  width: 35px;
  height: 25px;
  transform: rotate(63deg);
}
.outline-22 {
  top: 262px;
  left: 293px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 55px;
  height: 10px;
  transform: rotate(279deg);
}
.outline-23 {
  top: 230px;
  left: 306px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 5px solid #000;
  width: 30px;
  height: 10px;
  transform: rotate(74deg);
}

.outline-24 {
  top: 295px;
  left: 290px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 40px;
  height: 8px;
  transform: rotate(90deg);
}

.outline-25 {
  top: 325px;
  left: 268px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 4px solid #000;
  width: 45px;
  height: 15px;
  transform: rotate(341deg);
}

.outline-26 {
  top: 345px;
  left: 269px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 6px;
  height: 17px;
  transform: rotate(11deg);
}

.outline-27 {
  top: 365px;
  left: 220px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 4px solid #000;
  width: 55px;
  height: 15px;
  transform: rotate(163deg);
}

.outline-28 {
  top: 280px;
  left: 165px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 8px solid #000;
  width: 5px;
  height: 45px;
  transform: rotate(352deg);
}
.outline-29 {
  top: 275px;
  left: 165px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 10px solid #000;
  width: 25px;
  height: 5px;
  transform: rotate(22deg);
}

.outline-30 {
  top: 282px;
  left: 180px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 4px solid #000;
  width: 5px;
  height: 25px;
  transform: rotate(334deg);
}

.outline-31 {
  top: 363px;
  left: 165px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 10px;
  transform: rotate(73deg);
}

.outline-32 {
  top: 328px;
  left: 173px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 8px;
  height: 35px;
  transform: rotate(27deg);
}
.outline-33 {
  top: 297px;
  left: 183px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  width: 8px;
  height: 30px;
  transform: rotate(202deg);
}
.outline-34 {
  top: 300px;
  left: 192px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 15px;
  height: 30px;
  transform: rotate(25deg);
}
.outline-35 {
  top: 295px;
  left: 198px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 15px;
  height: 20px;
  transform: rotate(52deg);
}

.outline-36 {
  top: 317px;
  left: 197px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 3px solid #000;
  width: 10px;
  height: 5px;
  transform: rotate(178deg);
}

.outline-37 {
  top: 314px;
  left: 205px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-bottom: 5px solid #000;
  width: 20px;
  height: 5px;
  transform: rotate(198deg);
}

.outline-38 {
  top: 323px;
  left: 219px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-top: 2px solid #000;
  width: 20px;
  height: 5px;
  transform: rotate(246deg);
}

.outline-39 {
  top: 345px;
  left: 217px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-top: 2px solid #000;
  width: 28px;
  height: 5px;
  transform: rotate(94deg);
}
.outline-40 {
  top: 296px;
  left: 210px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 18px;
  height: 10px;
  transform: rotate(3deg);
}
.outline-41 {
  top: 301px;
  left: 225px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 30px;
  height: 10px;
  transform: rotate(343deg);
}
.outline-42 {
  top: 301px;
  left: 250px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 3px solid #000;
  width: 5px;
  height: 18px;
  transform: rotate(250deg);
}
.outline-43 {
  top: 315px;
  left: 241px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-right: 2px solid #000;
  height: 25px;
  width: 10px;
  transform: rotate(190deg);
}
.outline-44 {
  top: 330px;
  left: 205px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 25px;
  height: 15px;
  transform: rotate(193deg);
}

.outline-45 {
  top: 329px;
  left: 221px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 20px;
  height: 15px;
  transform: rotate(130deg);
}

.outline-46 {
  top: 341px;
  left: 173px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 38px;
  height: 18px;
  transform: rotate(286deg);
}

.outline-47 {
  top: 350px;
  left: 183px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 20px;
  height: 10px;
  transform: rotate(49deg);
}

.outline-48 {
  top: 355px;
  left: 195px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 3px solid #000;
  border-bottom: 2px solid #000;
  border-left: 3px solid #000;
  width: 17px;
  height: 7px;
  transform: rotate(303deg);
}

.outline-49 {
  top: 345px;
  left: 221px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  width: 10px;
  height: 15px;
  transform: rotate(353deg);
}
.outline-50 {
  top: 359px;
  left: 217px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  width: 5px;
  height: 7px;
  transform: rotate(178deg);
}
.outline-51 {
  top: 365px;
  left: 215px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 6px solid #000;
  width: 10px;
  height: 15px;
  transform: rotate(359deg);
}

.outline-52 {
  top: 388px;
  left: 218px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 2px solid #000;
  width: 5px;
  height: 10px;
  transform: rotate(92deg);
}

.outline-53 {
  top: 389px;
  left: 213px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 1px solid #000;
  width: 1px;
  height: 18px;
  transform: rotate(223deg);
}
.outline-54 {
  top: 400px;
  left: 197px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 3px solid #000;
  width: 17px;
  height: 7px;
  transform: rotate(300deg);
}

.outline-55 {
  top: 400px;
  left: 197px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 4px;
  height: 40px;
  transform: rotate(173deg);
}

.outline-56 {
  top: 437px;
  left: 187px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 1px solid #000;
  width: 10px;
  height: 10px;
  transform: rotate(108deg);
}

.outline-57 {
  top: 437px;
  left: 193px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  width: 2px;
  height: 13px;
  transform: rotate(219deg);
}

.outline-61 {
  top: 372px;
  left: 218px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-bottom: 2px solid #000;
  width: 30px;
  height: 5px;
  transform: rotate(266deg);
}

.outline-62 {
  top: 392px;
  left: 228px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 12px;
  height: 5px;
  transform: rotate(278deg);
}

.outline-63 {
  top: 436px;
  left: 205px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 80px;
  height: 5px;
  transform: rotate(257deg);
}
.outline-64 {
  top: 477px;
  left: 252px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 10px;
  height: 5px;
  transform: rotate(218deg);
}
.outline-65 {
  top: 488px;
  left: 252px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 20px;
  height: 5px;
  transform: rotate(224deg);
}
.outline-66 {
  top: 290px;
  left: 376px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 55px;
  height: 31px;
  transform: rotate(8deg);
}
.outline-67 {
  top: 319px;
  left: 315px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 55px;
  height: 12px;
  transform: rotate(292deg);
}

.outline-68 {
  top: 318px;
  left: 333px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 34px;
  height: 12px;
  transform: rotate(330deg);
}
.outline-69 {
  top: 303px;
  left: 350px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  width: 16px;
  height: 12px;
  transform: rotate(80deg);
}
.outline-70 {
  top: 331px;
  left: 335px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 12px;
  height: 25px;
  transform: rotate(249deg);
}
.outline-71 {
  top: 344px;
  left: 330px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 40px;
  height: 12px;
  transform: rotate(322deg);
}

.outline-72 {
  top: 336px;
  left: 364px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 20px;
  height: 4px;
  transform: rotate(356deg);
}
.outline-73 {
  top: 364px;
  left: 320px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 15px;
  height: 4px;
  transform: rotate(314deg);
}

.outline-74 {
  top: 361px;
  left: 325px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 5px solid #000;
  width: 5px;
  height: 22px;
  transform: rotate(291deg);
}
.outline-75 {
  top: 376px;
  left: 335px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 15px;
  height: 4px;
  transform: rotate(31deg);
}
.outline-76 {
  top: 390px;
  left: 358px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 10px;
  height: 7px;
  transform: rotate(31deg);
}
.outline-77 {
  top: 392px;
  left: 371px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 4px solid #000;
  width: 10px;
  height: 24px;
  transform: rotate(322deg);
}
.outline-78 {
  top: 387px;
  left: 381px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 53px;
  height: 20px;
  transform: rotate(142deg);
}

.outline-79 {
  top: 387px;
  left: 339px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 1px solid #000;
  width: 19px;
  height: 5px;
  transform: rotate(69deg);
}

.outline-80 {
  top: 386px;
  left: 340px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-bottom: 1px solid #000;
  width: 22px;
  height: 15px;
  transform: rotate(221deg);
}

.outline-81 {
  top: 348px;
  left: 315px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 17px;
  height: 7px;
  transform: rotate(120deg);
}

.outline-82 {
  top: 360px;
  left: 297px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 27px;
  height: 6px;
  transform: rotate(319deg);
}

.outline-83 {
  top: 375px;
  left: 282px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 21px;
  height: 6px;
  transform: rotate(108deg);
}

.outline-84 {
  top: 389px;
  left: 280px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 11px;
  height: 7px;
  transform: rotate(298deg);
}
.outline-85 {
  top: 390px;
  left: 287px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 33px;
  height: 11px;
  transform: rotate(356deg);
}

.outline-86 {
  top: 394px;
  left: 317px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 23px;
  height: 6px;
  transform: rotate(199deg);
}

.outline-87 {
  top: 398px;
  left: 338px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 2px solid #000;
  width: 7px;
  height: 29px;
  transform: rotate(323deg);
}

.outline-91 {
  top: 402px;
  left: 260px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 29px;
  height: 3px;
  transform: rotate(130deg);
}
.outline-92 {
  top: 420px;
  left: 251px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  border-left: 2px solid #000;
  width: 28px;
  height: 12px;
  transform: rotate(287deg);
}

.outline-93 {
  top: 427px;
  left: 255px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  background: #000;
  width: 17px;
  height: 13px;
  transform: rotate(287deg);
}

.outline-94 {
  top: 437px;
  left: 254px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 11px;
  height: 7px;
  transform: rotate(186deg);
}

.outline-96 {
  top: 437px;
  left: 269px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-left: 2px solid #000;
  width: 7px;
  height: 29px;
  transform: rotate(125deg);
}

.outline-97 {
  top: 484px;
  left: 245px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 5px solid #000;
  width: 5px;
  height: 4px;
  transform: rotate(200deg);
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 59px;
  height: 6px;
  transform: rotate(293deg);
}
.outline-98 {
  top: 456px;
  left: 275px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 10px;
  height: 7px;
  transform: rotate(85deg);
}

.outline-99 {
  top: 458px;
  left: 323px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  border-bottom: 1px solid #000;
  width: 12px;
  height: 5px;
  transform: rotate(226deg);
}

.outline-100 {
  top: 464px;
  left: 328px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 1px solid #000;
  width: 15px;
  height: 5px;
  transform: rotate(208deg);
}

.outline-101 {
  top: 470px;
  left: 303px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 1px solid #000;
  width: 28px;
  height: 5px;
  transform: rotate(135deg);
}

.outline-102 {
  top: 480px;
  left: 303px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 2px solid #000;
  border-bottom: 1px solid #000;
  width: 3px;
  height: 5px;
  transform: rotate(96deg);
}
.outline-103 {
  top: 491px;
  left: 283px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 26px;
  height: 5px;
  transform: rotate(314deg);
}

.outline-104 {
  top: 494px;
  left: 276px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 2px solid #000;
  border-top: 1px solid #000;
  width: 10px;
  height: 28px;
  transform: rotate(173deg);
}
.outline-105 {
  top: 542px;
  left: 262px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 4px solid #000;
  width: 61px;
  height: 10px;
  transform: rotate(244deg);
}

.outline-106 {
  top: 493.5px;
  left: 273px;
  border-radius: 100% 0% 93% 7% / 60% 9% 91% 40%;
  border-left: 3px solid #000;
  border-top: 1px solid #000;
  width: 4px;
  height: 24px;
  transform: rotate(116deg);
}

.outline-107 {
  top: 513px;
  left: 246px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 26px;
  height: 5px;
  transform: rotate(284deg);
}

.outline-108 {
  top: 531px;
  left: 233px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 2px solid #000;
  width: 45px;
  height: 1px;
  transform: rotate(261deg);
}
.outline-109 {
  top: 557px;
  left: 253px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-top: 3px solid #000;
  width: 36px;
  height: 9px;
  transform: rotate(23deg);
}

.outline-spot-1 {
  top: 397px;
  left: 185px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 7px;
  height: 10px;
  transform: rotate(9deg);
}

.outline-spot-2 {
  top: 413px;
  left: 180px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 4px;
  transform: rotate(178deg);
}
.outline-spot-3 {
  top: 425px;
  left: 180px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(274deg);
}

.outline-spot-4 {
  top: 381px;
  left: 325px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 5px;
  height: 4px;
  transform: rotate(223deg);
}

.outline-spot-5 {
  top: 381px;
  left: 336px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 3px;
  transform: rotate(187deg);
}

.outline-spot-6 {
  top: 389px;
  left: 337px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}
.outline-spot-7 {
  top: 193px;
  left: 242px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 5px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-8 {
  top: 205px;
  left: 244px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 3px;
  transform: rotate(330deg);
}

.outline-spot-9 {
  top: 198px;
  left: 249px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}

.outline-spot-10 {
  top: 210px;
  left: 300px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}

.outline-spot-11 {
  top: 215px;
  left: 296px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(161deg);
}

.outline-spot-12 {
  top: 332px;
  left: 338px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-13 {
  top: 330px;
  left: 350px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 3px;
  transform: rotate(233deg);
}

.outline-spot-14 {
  top: 420px;
  left: 268px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}
.outline-spot-15 {
  top: 408px;
  left: 263px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 2px;
  height: 3px;
  transform: rotate(46deg);
}
.outline-spot-16 {
  top: 477px;
  left: 257px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-17 {
  top: 492px;
  left: 303px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-18 {
  top: 492px;
  left: 318px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 3px;
  transform: rotate(211deg);
}

.outline-spot-19 {
  top: 496px;
  left: 335px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 3px;
  transform: rotate(46deg);
}
.outline-spot-20 {
  top: 504px;
  left: 317px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 2px;
  height: 3px;
  transform: rotate(261deg);
}
.outline-spot-21 {
  top: 511px;
  left: 330px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 4px;
  height: 4px;
  transform: rotate(251deg);
}

.outline-spot-22 {
  top: 516px;
  left: 237px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 2px;
  transform: rotate(115deg);
}

.outline-spot-23 {
  top: 512px;
  left: 246px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 2px;
  height: 2px;
  transform: rotate(106deg);
}

.outline-spot-24 {
  top: 516px;
  left: 243px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 2px;
  height: 3px;
  transform: rotate(137deg);
}
.outline-spot-25 {
  top: 517px;
  left: 248px;
  border-radius: 46% 54% 70% 30% / 59% 31% 69% 41%;
  background: #000;
  width: 3px;
  height: 4px;
  transform: rotate(150deg);
}

.watercolor {
  position: absolute;
}
#test {
  width: 400px;
  height: 275px;
  background: gold;
  border-radius: 50%;
  box-shadow: 100px 100px 90px 90px rgb(4 238 35);
  filter: blur(3px);
}

.watercolor-1 {
  top: 495px;
  left: 233px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 12px;
  height: 30px;
  transform: rotate(315deg);
  background: #0f679e;
  box-shadow: -2px -14px 6px 4px #12a9c0;
  filter: blur(3px);
}

.watercolor-2 {
  top: 500px;
  left: 293px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 11px;
  height: 16px;
  transform: rotate(163deg);
  background: #052558;
  box-shadow: -2px -14px 12px 9px #125e9e;
  filter: blur(5px);
}

.watercolor-3 {
  top: 522px;
  left: 299px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 19px;
  height: 16px;
  transform: rotate(163deg);
  background: #125e9e;
  box-shadow: -2px -14px 12px 5px #12a9c0;
  filter: blur(8px);
}

.watercolor-4 {
  top: 496px;
  left: 298px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 16px;
  height: 27px;
  transform: rotate(147deg);
  background: #052558;
  box-shadow: -2px -14px 12px 7px #3087cf;
  filter: blur(4px);
}

.watercolor-5 {
  top: 520px;
  left: 317px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 24px;
  height: 24px;
  transform: rotate(140deg);
  background: #3087cf;
  box-shadow: -2px -14px 12px 5px #33addc;
  filter: blur(7px);
}

.watercolor-6 {
  top: 489px;
  left: 309px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 6px;
  height: 39px;
  transform: rotate(112deg);
  background: #0a3e91;
  box-shadow: 2px -14px 12px 8px #3087cf;
  filter: blur(2px);
}

.watercolor-7 {
  top: 498px;
  left: 310px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 13px;
  height: 22px;
  transform: rotate(117deg);
  background: #0e418b;
  box-shadow: 5px -19px 11px 11px #33addc;
  filter: blur(4px);
}

.watercolor-8 {
  top: 478px;
  left: 313px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 10px;
  height: 48px;
  transform: rotate(105deg);
  background: #3087cf;
  box-shadow: -1px -16px 7px 8px #33addc;
  filter: blur(3px);
}

.watercolor-9 {
  top: 484px;
  left: 282px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 100px;
  height: 105px;
  transform: rotate(316deg);
  background: #3087cf;
  background: linear-gradient(
    220deg,
    #3087cf 0,
    #3ca9da 20%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(1px);
}

.watercolor-10 {
  top: 467px;
  left: 282px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 118px;
  height: 100px;
  transform: rotate(190deg);
  background: #3087cf;
  background: linear-gradient(
    231deg,
    #3087cf 0,
    #43b4ce 16%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(2px);
}

.watercolor-11 {
  top: 370px;
  left: 206px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 14px;
  height: 24px;
  transform: rotate(255deg);
  background: #4b9ebf;
  box-shadow: -2px -14px 12px 7px #33addc;
  filter: blur(2.5px);
}

.watercolor-12 {
  top: 399px;
  left: 184px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 14px;
  height: 24px;
  transform: rotate(197deg);
  background: #4b9ebf;
  box-shadow: -2px -14px 12px 10px #33addc;
  filter: blur(2.5px);
}

.watercolor-13 {
  top: 350px;
  left: 209px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 11px;
  height: 26px;
  transform: rotate(223deg);
  background: #103358;
  box-shadow: 0px -7px 0px 4px #065391;
  filter: blur(3px);
}
.watercolor-14 {
  top: 379px;
  left: 181px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 38px;
  height: 72px;
  transform: rotate(239deg);
  background: #065391;
  background: linear-gradient(
    220deg,
    #065391 0,
    #065391 1%,
    #50b9e1 20%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(1px);
}

.watercolor-15 {
  top: 365px;
  left: 190px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 8px;
  height: 17px;
  transform: rotate(231deg);
  background: #e41c7c;
  box-shadow: -2px -14px 12px 9px #e63f90;
  filter: blur(2px);
}
.watercolor-16 {
  top: 386px;
  left: 173px;
  border-radius: 9% 81% 19% 91% / 81% 19% 83% 17%;
  width: 10px;
  height: 44px;
  transform: rotate(42deg);
  background: #0900943d;
  box-shadow: 5px -14px 12px 3px #e63f90;
  filter: blur(2px);
}
.watercolor-17 {
  top: 349px;
  left: 176px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 4px;
  height: 36px;
  transform: rotate(185deg);
  background: #e63f90;
  box-shadow: 0px -14px 12px 3px #e63f90;
  filter: blur(2px);
}

.watercolor-18 {
  top: 335px;
  left: 197px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 19px;
  height: 16px;
  transform: rotate(240deg);
  background: #05275a;
  box-shadow: -2px -15px 12px 6px #073479eb;
  filter: blur(4px);
}

.watercolor-19 {
  top: 342px;
  left: 213px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 11px;
  height: 14px;
  transform: rotate(266deg);
  background: #05275a;
  box-shadow: 2px -12px 0px 2px #05275a;
  filter: blur(4px);
}

.watercolor-20 {
  top: 369px;
  left: 177px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 38px;
  height: 72px;
  transform: rotate(239deg);
  background: #e63f90;
  background: linear-gradient(
    220deg,
    #8a0645 0,
    #8a0645 1%,
    #e63f90 18%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(3px);
}
.watercolor-21 {
  top: 353px;
  left: 190px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 8px;
  height: 17px;
  transform: rotate(231deg);
  background: #8a5c8f;
  box-shadow: -2px -14px 12px 9px #9e508e;
  filter: blur(2px);
}

.watercolor-22 {
  top: 342px;
  left: 213px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 11px;
  height: 14px;
  transform: rotate(266deg);
  background: #012a4b;
  box-shadow: 2px -12px 0px 2px #012a4b;
  filter: blur(4px);
}

.watercolor-23 {
  top: 284px;
  left: 173px;
  border-radius: 50%;
  width: 12px;
  height: 57px;
  transform: rotate(187deg);
  background: #e63f90;
  box-shadow: 2px -18px 3px 1px #e63f90;
  filter: blur(1.5px);
}

.watercolor-24 {
  top: 287px;
  left: 187px;
  border-radius: 50%;
  width: 10px;
  height: 16px;
  transform: rotate(344deg);
  background: #e63f90;
  background: linear-gradient(
    220deg,
    #8a0645 0,
    #8a0645 1%,
    #e63f90 110%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(2px);
}
.watercolor-25 {
  top: 293px;
  left: 189px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 10px;
  height: 10px;
  transform: rotate(300deg);
  background: #8a5c8f;
  box-shadow: -2px -6px 12px 7px #9e508e;
  filter: blur(2px);
}

.watercolor-26 {
  top: 282px;
  left: 189px;
  border-radius: 50%;
  width: 15px;
  height: 36px;
  transform: rotate(316deg);
  background: #e63f90;
  background: linear-gradient(
    220deg,
    #8a0645 0,
    #8a0645 1%,
    #e63f90 9%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(1px);
}

.watercolor-27 {
  top: 305px;
  left: 247px;
  border-radius: 50%;
  width: 8px;
  height: 10px;
  transform: rotate(287deg);
  background: #12a9c0;
  box-shadow: 0px -4px 0px 3px #12a9c0;
  filter: blur(1px);
}

.watercolor-28 {
  top: 323px;
  left: 222px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 18px;
  height: 23px;
  transform: rotate(269deg);
  background: #63bde0;
  box-shadow: 0px -7px 2px 3px #63bde0;
  filter: blur(1px);
}

.watercolor-29 {
  top: 307px;
  left: 251px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 10px;
  height: 6px;
  transform: rotate(256deg);
  background: #12a9c0;
  box-shadow: 0px -7px 7px 3px #12a9c0;
  filter: blur(2px);
}

.watercolor-30 {
  top: 310px;
  left: 238px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 10px;
  height: 13px;
  transform: rotate(241deg);
  background: #12a9c0;
  box-shadow: 4px -4px 0px 7px #12a9c0;
  filter: blur(1.5px);
  opacity: 0.9;
}
.watercolor-31 {
  top: 301px;
  left: 192px;
  border-radius: 50%;
  width: 13px;
  height: 21px;
  transform: rotate(121deg);
  background: #e63f90;
  box-shadow: 5px -14px 0px 4px #887db2;
  filter: blur(2px);
}
.watercolor-32 {
  top: 294px;
  left: 201px;
  border-radius: 50%;
  width: 22px;
  height: 21px;
  transform: rotate(140deg);
  background: #c4569e;
  box-shadow: 5px -14px 12px 11px #887db2;
  filter: blur(1.5px);
}
.watercolor-33 {
  top: 301px;
  left: 183px;
  border-radius: 50%;
  width: 13px;
  height: 21px;
  transform: rotate(177deg);
  background: #e63f90;
  filter: blur(2px);
}

.watercolor-34 {
  top: 366px;
  left: 191px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 22px;
  height: 61px;
  transform: rotate(229deg);
  background: #43b2de;
  box-shadow: 0px -7px 0px 3px #43b2de;
  filter: blur(3px);
}
.watercolor-35 {
  top: 365px;
  left: 199px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 11px;
  height: 26px;
  transform: rotate(185deg);
  background: #4383ae;
  box-shadow: 0px -7px 0px 5px #4383ae;
  filter: blur(4px);
}

.watercolor-36 {
  top: 379px;
  left: 190px;
  border-radius: 20%;
  width: 8px;
  height: 48px;
  transform: rotate(220deg);
  background: #4cb5e0;
  box-shadow: 0px -7px 0px 5px #4cb5e0;
  filter: blur(5px);
  opacity: 0.7;
}

.watercolor-37 {
  top: 297px;
  left: 182px;
  border-radius: 20%;
  width: 11px;
  height: 10px;
  transform: rotate(283deg);
  background: #b24b8e;
  box-shadow: 0px -7px 0px 8px #b24b8e;
  filter: blur(5px);
}

.watercolor-38 {
  top: 370px;
  left: 175px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 38px;
  height: 72px;
  transform: rotate(239deg);
  background: #065391;
  background: linear-gradient(
    220deg,
    #e24192 0,
    #e24192 1%,
    #e24192 10%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(1px);
}

.watercolor-39 {
  top: 339px;
  left: 178px;
  border-radius: 50%;
  width: 43px;
  height: 72px;
  transform: rotate(239deg);
  background: linear-gradient(
    220deg,
    #e11775 0,
    #e01775 1%,
    #ef0078ba 4%,
    rgba(0, 150, 255, 0) 52%
  );
  filter: blur(1px);
}
.watercolor-40 {
  top: 336px;
  left: 162px;
  border-radius: 20%;
  width: 28px;
  height: 16px;
  transform: rotate(90deg);
  background: linear-gradient(
    330deg,
    #e24192 0,
    #e24192 1%,
    #e241927d 21%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(0.5px);
}

.watercolor-41 {
  top: 367px;
  left: 190px;
  border-radius: 46%;
  width: 25px;
  height: 25px;
  transform: rotate(220deg);
  background: #0300b5;
  box-shadow: 0px -7px 0px 5px #0010ca;
  filter: blur(9px);
  opacity: 0.4;
}

.watercolor-42 {
  top: 355px;
  left: 195px;
  border-radius: 33% 67% 1% 99% / 35% 83% 17% 65%;
  border-right: 0px solid #000;
  border-bottom: 0px solid #000;
  border-left: 0px solid #000;
  width: 17px;
  height: 7px;
  transform: rotate(303deg);
  background: #fff;
  filter: blur(5px);
  opacity: 0.6;
}

.watercolor-43 {
  top: 353px;
  left: 290px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  transform: rotate(266deg);
  background: linear-gradient(
    231deg,
    #4e19a0 0,
    #6c19a085 15%,
    rgba(0, 150, 255, 0) 25%
  );
  filter: blur(1px);
}
.watercolor-44 {
  top: 380px;
  left: 294px;
  border-radius: 50%;
  width: 0px;
  height: 26px;
  transform: rotate(265deg);
  background: #b24b8e;
  box-shadow: 0px 0px 7px 2px #b24b8e;
  filter: blur(1px);
}
.watercolor-45 {
  top: 356px;
  left: 319px;
  border-radius: 50%;
  width: 35px;
  height: 15px;
  transform: rotate(338deg);
  background: #e5408f;
  box-shadow: 18px 0px 7px 5px #e5408f;
  filter: blur(1px);
}

.watercolor-47 {
  top: 352px;
  left: 368px;
  border-radius: 50%;
  width: 41px;
  height: 18px;
  transform: rotate(178deg);
  background: #b369aa;
  box-shadow: 18px 0px 7px 5px #b369aa;
  filter: blur(3px);
}

.watercolor-49 {
  top: 344px;
  left: 327px;
  border-radius: 50%;
  width: 16px;
  height: 10px;
  transform: rotate(290deg);
  background: #290341cc;
  box-shadow: 13px 0px 7px 4px #b369aa;
  filter: blur(1px);
}

.watercolor-50 {
  top: 330px;
  left: 335px;
  border-radius: 50%;
  width: 37px;
  height: 35px;
  transform: rotate(296deg);
  background: #b369aaa6;
  box-shadow: 20px 0px 7px 4px #b369aa75;
  filter: blur(1px);
}

.watercolor-51 {
  top: 350px;
  left: 365px;
  border-radius: 50%;
  width: 54px;
  height: 72px;
  transform: rotate(130deg);
  background: none;
  box-shadow: 7px 0px 7px 1px #6c19a085;
  filter: blur(2px);
}

.watercolor-52 {
  top: 341px;
  left: 365px;
  border-radius: 50%;
  width: 59px;
  height: 92px;
  transform: rotate(130deg);
  background: none;
  box-shadow: 5px 2px 7px 2px #c454a0;
  filter: blur(2px);
}
.watercolor-53 {
  top: 360px;
  left: 344px;
  border-radius: 50%;
  width: 35px;
  height: 15px;
  transform: rotate(14deg);
  background: #e5408f;
  box-shadow: 18px 0px 7px 7px #e5408f;
  filter: blur(1px);
  opacity: 0.6;
}

.watercolor-54 {
  top: 353px;
  left: 334px;
  border-radius: 50%;
  width: 40px;
  height: 24px;
  transform: rotate(359deg);
  /* background: #3d01499d; */
  box-shadow: 38px 10px 7px 4px #e11675;
  filter: blur(1px);
  opacity: 0.2;
}
.watercolor-55 {
  top: 308px;
  left: 386px;
  border-radius: 50%;
  width: 35px;
  height: 69px;
  transform: rotate(80deg);
  background: none;
  box-shadow: 17px 0px 10px 1px #e1157433;
  filter: blur(1px);
}

.watercolor-57 {
  top: 331px;
  left: 373px;
  border-radius: 50%;
  width: 10px;
  height: 25px;
  transform: rotate(100deg);
  background: none;
  box-shadow: 4px 0px 5px 0px #290249e8;
  filter: blur(1px);
  opacity: 0.2;
}
.watercolor-58 {
  top: 337px;
  left: 398px;
  border-radius: 50%;
  width: 12px;
  height: 26px;
  transform: rotate(112deg);
  background: none;
  box-shadow: 4px 0px 5px 0px #290249e8;
  filter: blur(1px);
  opacity: 0.3;
}

.watercolor-61 {
  top: 390px;
  left: 343px;
  border-radius: 50%;
  width: 28px;
  height: 8px;
  transform: rotate(48deg);
  background: #572b6d;
  box-shadow: 13px 0px 7px 2px #b369aa;
  filter: blur(2px);
  opacity: 0.8;
}

.watercolor-62 {
  top: 308px;
  left: 424px;
  border-radius: 50%;
  width: 14px;
  height: 22px;
  transform: rotate(112deg);
  background: #e11675;
  box-shadow: 14px 12px 10px 11px #e11675;
  filter: blur(4px);
  opacity: 0.8;
}

.watercolor-63 {
  top: 286px;
  left: 361px;
  border-radius: 50%;
  width: 30px;
  height: 28px;
  transform: rotate(96deg);
  background: #e11675;
  box-shadow: 18px -9px 10px 14px #e11675;
  filter: blur(2px);
  opacity: 0.6;
}

.watercolor-64 {
  top: 260px;
  left: 428px;
  border-radius: 50%;
  width: 15px;
  height: 20px;
  transform: rotate(170deg);
  background: none;
  box-shadow: 17px 0px 10px 1px #e11574;
  filter: blur(1px);
}
.watercolor-65 {
  top: 277px;
  left: 425px;
  border-radius: 50%;
  width: 19px;
  height: 24px;
  transform: rotate(205deg);
  background: none;
  box-shadow: 17px 0px 6px 1px #e11574;
  filter: blur(1px);
}

.watercolor-66 {
  top: 250px;
  left: 352px;
  border-radius: 50%;
  width: 71px;
  height: 131px;
  transform: rotate(229deg);
  background: none;
  box-shadow: 5px 0px 0px -2px #b7077f;
  filter: blur(2px);
}

.watercolor-68 {
  top: 274px;
  left: 376px;
  border-radius: 50%;
  width: 22px;
  height: 20px;
  transform: rotate(351deg);
  background: #e5408fd1;
  box-shadow: 18px 0px 7px 11px #e5408fc2;
  filter: blur(2px);
}
.watercolor-69 {
  top: 285px;
  left: 358px;
  border-radius: 50%;
  width: 32px;
  height: 13px;
  transform: rotate(126deg);
  background: #e5408fd1;
  box-shadow: 18px 0px 7px 11px #e5408fc2;
  filter: blur(2px);
  opacity: 0.5;
}

.watercolor-70 {
  top: 274px;
  left: 366px;
  border-radius: 50%;
  width: 27px;
  height: 20px;
  transform: rotate(153deg);
  background: #e5408fd1;
  box-shadow: 13px -3px 7px 3px #e5408fc2;
  filter: blur(2px);
}

.watercolor-71 {
  top: 308px;
  left: 386px;
  border-radius: 50%;
  width: 35px;
  height: 69px;
  transform: rotate(80deg);
  background: none;
  box-shadow: 15px 20px 10px 8px #e11574;
  filter: blur(1px);
}
.watercolor-72 {
  top: 354px;
  left: 311px;
  border-radius: 50%;
  width: 35px;
  height: 69px;
  transform: rotate(302deg);
  background: none;
  box-shadow: 27px 20px 10px 1px #e11574;
  filter: blur(1px);
}

.watercolor-60 {
  top: 348px;
  left: 373px;
  border-radius: 47% 53% 28% 72% / 47% 78% 22% 53%;
  width: 42px;
  height: 17px;
  transform: rotate(7deg);
  background: #12a9c0;
  box-shadow: -2px -8px 7px 6px #0300b5;
  filter: blur(2px);
  opacity: 0.2;
}

.watercolor-59 {
  top: 391px;
  left: 385px;
  border-radius: 50%;
  width: 11px;
  height: 33px;
  transform: rotate(273deg);
  background: #e11574;
  box-shadow: 7px 11px 14px 3px #0300b5cc;
  filter: blur(2px);
  opacity: 0.8;
}
.watercolor-48 {
  top: 352px;
  left: 377px;
  border-radius: 50%;
  width: 24px;
  height: 23px;
  transform: rotate(134deg);
  background: #15365b;
  box-shadow: 18px 0px 7px 20px #15365b;
  filter: blur(1px);
  opacity: 0.6;
}
.watercolor-67 {
  top: 242px;
  left: 373px;
  border-radius: 50%;
  width: 31px;
  height: 93px;
  transform: rotate(239deg);
  background: none;
  box-shadow: 7px 0px 0px -2px #12a9c0;
  filter: blur(4px);
  opacity: 0.8;
}

.watercolor-46 {
  top: 330px;
  left: 399px;
  border-radius: 50%;
  width: 21px;
  height: 17px;
  transform: rotate(133deg);
  background: #4d64d3b8;
  box-shadow: 8px 0px 12px 14px #4d64d3b8;
  filter: blur(6px);
  opacity: 0.5;
}

/* .watercolor {
  filter: blur(1.5px);
} */

.watercolor-73 {
  top: 370px;
  left: 182px;
  border-radius: 50%;
  width: 9px;
  height: 17px;
  transform: rotate(46deg);
  background: none;
  box-shadow: 4px 0px 5px 0px #150a82e8;
  filter: blur(1px);
  opacity: 0.3;
}
.watercolor-74 {
  top: 386px;
  left: 173px;
  border-radius: 50%;
  width: 9px;
  height: 17px;
  transform: rotate(9deg);
  background: none;
  box-shadow: 4px 0px 5px 0px #150a82e8;
  filter: blur(1px);
  opacity: 0.3;
}

.watercolor-75 {
  top: 346px;
  left: 160px;
  border-radius: 50%;
  width: 6px;
  height: 16px;
  transform: rotate(24deg);
  background: none;
  box-shadow: 6px 0px 5px 0px #e24192;
  filter: blur(1px);
  /* opacity: 0.3; */
}

.watercolor-76 {
  top: 201px;
  left: 259px;
  border-radius: 50%;
  width: 25px;
  height: 23px;
  transform: rotate(236deg);
  background: #1e0341;
  box-shadow: 13px 0px 7px 4px #1e0341;
  filter: blur(5px);
}

.watercolor-77 {
  top: 176px;
  left: 252px;
  border-radius: 46%;
  width: 25px;
  height: 35px;
  transform: rotate(220deg);
  background: #3e0066;
  box-shadow: 0px -7px 0px 5px #1b205b;
  filter: blur(5px);
  opacity: 0.5;
}

.watercolor-78 {
  top: 145px;
  left: 219px;
  border-radius: 50%;
  width: 35px;
  height: 73px;
  transform: rotate(28deg);
  background: none;
  box-shadow: 21px -10px 12px -1px #e11574;
  filter: blur(3px);
}

.watercolor-79 {
  top: 109px;
  left: 222px;
  border-radius: 50%;
  width: 35px;
  height: 73px;
  transform: rotate(344deg);
  background: none;
  box-shadow: 15px 1px 12px -1px #e11574;
  filter: blur(2px);
}

.watercolor-80 {
  top: 138px;
  left: 266px;
  border-radius: 46%;
  width: 15px;
  height: 35px;
  transform: rotate(183deg);
  background: #050371;
  box-shadow: 0px -7px 0px 5px #0010ca;
  filter: blur(7px);
  opacity: 0.5;
}

.watercolor-81 {
  top: 89px;
  left: 225px;
  border-radius: 50%;
  width: 14px;
  height: 22px;
  transform: rotate(39deg);
  background: #e11675;
  box-shadow: 14px 12px 10px 11px #e11675;
  filter: blur(4px);
  opacity: 0.7;
}

.watercolor-82 {
  top: 89px;
  left: 173px;
  border-radius: 50%;
  width: 29px;
  height: 41px;
  transform: rotate(351deg);
  background: #e11675;
  box-shadow: 14px 12px 16px 11px #e11675;
  filter: blur(4px);
  /* opacity: 0.7; */
}

.watercolor-83 {
  top: 153px;
  left: 229px;
  border-radius: 50%;
  width: 39px;
  height: 23px;
  transform: rotate(196deg);
  background: #e11675;
  box-shadow: 14px 12px 16px 11px #e11675;
  filter: blur(4px);
  opacity: 0.5;
}
.watercolor-84 {
  top: 174px;
  left: 213px;
  border-radius: 50%;
  width: 19px;
  height: 25px;
  transform: rotate(289deg);
  background: #e11574;
  box-shadow: 13px 6px 21px 6px #0300b5cc;
  filter: blur(2px);
  opacity: 0.8;
}
.watercolor-85 {
  top: 132px;
  left: 202px;
  border-radius: 50%;
  width: 13px;
  height: 45px;
  transform: rotate(328deg);
  background: #e11574;
  box-shadow: 13px 6px 21px 6px #b369aa;
  filter: blur(8px);
  opacity: 0.6;
}
.watercolor-86 {
  top: 75px;
  left: 213px;
  border-radius: 50%;
  width: 25px;
  height: 16px;
  transform: rotate(121deg);
  background: #c4569e;
  box-shadow: 18px 1px 6px 6px #c4569e;
  filter: blur(6px);
  opacity: 0.5;
}
.watercolor-87 {
  top: 27px;
  left: 209px;
  border-radius: 50%;
  width: 17px;
  height: 20px;
  transform: rotate(102deg);
  background: #c4569e;
  box-shadow: 13px 6px 17px 13px #c4569e;
  filter: blur(3px);
  opacity: 0.8;
}

.watercolor-88 {
  top: 21px;
  left: 192px;
  border-radius: 50%;
  width: 14px;
  height: 16px;
  transform: rotate(102deg);
  background: #c4569e;
  box-shadow: 13px 6px 17px -6px #c4569e;
  filter: blur(6px);
  opacity: 0.8;
}

.watercolor-89 {
  top: 51px;
  left: 190px;
  border-radius: 50%;
  width: 22px;
  height: 24px;
  transform: rotate(47deg);
  background: #c4569eb8;
  box-shadow: 13px 6px 17px 8px #c4569e;
  filter: blur(6px);
  opacity: 0.4;
}

.watercolor-90 {
  top: 33px;
  left: 170px;
  border-radius: 50%;
  width: 21px;
  height: 50px;
  transform: rotate(163deg);
  background: none;
  box-shadow: 7px -26px 10px 4px #e11574f7;
  filter: blur(2px);
}
.watercolor-91 {
  top: 63px;
  left: 174px;
  border-radius: 50%;
  width: 8px;
  height: 48px;
  transform: rotate(343deg);
  background: #e11574;
  box-shadow: 1px 3px 6px 2px #e11574;
  filter: blur(1px);
  opacity: 0.4;
}
